/*img{*/
/*    filter: blur(8px);*/
/*    -webkit-filter: blur(8px);*/

/*}*/
body{
    background-image: url("pexels-anna-tis-5633525.jpg");
    background-size: cover;

}
h1{
    text-align: center;
}
.hide{
    visibility: hidden;
    display: none;
}
#editMovieModel{
    position: absolute;
    background-color: #c9c6c6;
    top: 250px;
    left: 250px;
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    height: 300px;
    border: #4077b6 solid 4px;
}
#editMovieButton{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#closeEditWindowButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#addMovieModel{
    position: absolute;
    background-color: #6786e8;
    top: 250px;
    left: 250px;
    width: 350px;
    height: 75px;
    display: flex;
    justify-content: center;
    border: solid red 4px;
    border-radius: 2px;
}
#addMovieButton{
    position: absolute;
    left: 4px;
    bottom: 4px;
}
#closeAddWindowButton{
    position: absolute;
    right: 4px;
    bottom: 4px;
}
#addTitle{
    height: 20px;
    margin-top: 10px;
}
#dblClickModal{
    position: absolute;
    background-image: url("pexels-anna-tis-5633525.jpg");
    top: 250px;
    left: 250px;
    width: 300px;
    height: 400px;
    padding-top: 2em;
    padding-left: 2.75em;
    border: solid #4f4c4c 4px;
    border-radius: 2px;

}
#dblclickEditbutton{
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
}
#dblclickCloseButton{
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-align: center;
}
#dblclickDeleteButton{
    position: absolute;
    left: 110px;
    bottom: 10px;
    text-align: center;
}
#dblClickRow{
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: end;
}
#dblClickDiv{
    width: 100%;
}
body{
    position: relative;
}
.posters{
    height: 295px;
    width: 195px;
    margin: 6px;
    border: solid #c20303 6px;
    border-radius: 6px;
}

#moviePoster{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

input{
    height: 1.5em;
}
button{
    height: 1.5em;
    border-radius: 4px;
}